<% visitor = notification.visitor_id %>
<% visited = notification.visited_id %>

<% if notification.checked == false %> <%# ←この1行が大事 %>
  <div>
      <%= notification.created_at.to_s(:datetime_jp) %>
    <%= link_to user_path(visitor) do %>
      <% if notification.action=='dm' %>
       あなたにチャットが届いています！早速確認してみましょう！！
      <% end %>
    <% end %>
    <%= link_to '既読にする', notifications_path(notification.id), method: :put %>
  </div>
<% end %>
