<div class="top-visual">
  <h1 class="welcome">Welcome!!</h1>

  <div class="introduction">
    <p>Shum!tへようこそ！！</br>
    ぜひあなたの趣味を教えてください。</br>
    あなたの投稿が誰かの世界をよりよく変える手助けとなるかもしれません。</p>
  </div>

  <div>
    <%= link_to "Log in", new_user_session_path, class: "login" %>
  </div>

  <div>
    <%= link_to "Sign up", new_user_registration_path, class:"signup" %>
  </div>
</div>