.likelike{
  position: absolute;
  width: 80px;
  height: 23px;
  right: 600px;
  top: 555px;

  color: #000000;
  text-decoration: none;
}

.likelike:hover{
  color: #000000;
  text-decoration: none;
}