.profile_image{
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

#post_comment_comment{
  position: absolute;
  width: 900px;
  height: 140px;
  left: 260px;
  top: 400px;

  border: 1px solid #A69696;
  border-radius: 24px;
}

.comment-submit{
  position: absolute;
  width: 177px;
  height: 42px;
  left: 970px;
  top: 490px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background-color:#007bff;
  border: 1px solid #FFFCFC;
  color: #FFFCFC;
}

.comment-submit:hover{
  background-color:#FFFCFC;
  border: 1px solid #007bff;
  color: #007bff;
}

#post_comments{
  padding:15px;

  position: absolute;
  width: 200px;
  height: 545px;
  left: 40px;
  top: 195px;

  border: 1px solid #A69696;
  border-radius: 24px;
}
